@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body, input, button {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #b6c4d4;
}

.container,
footer {
    background-color: #ffffff;
    max-width: 500px;
    margin: 0 auto;
    padding: 2em;
    width: 80%;
}

header > h1 {
    font-size: 1.8rem;
    margin: 1em auto;
}

header > h1 > span {
    font-size: 1.5rem;
    font-weight: 400;
    color: #4e5b73;
}

hr {
    height: 1px;
    border-color: none;
    background-color: #b6c4d4;
}

main {
    margin: 1em auto;
}

h2 {
    font-size: 1.3em;
}

.inputContainer,
.searchContainer,
.bookShelfContainer {
    margin: 1.5em auto;
}

.subtitle {
    font-size: 1em;
    color: #4e5b73;
}

.input {
    margin: 1.5em auto;
    display: block;
	padding: 9px;
	border:1px solid #6e7986;
	margin-bottom: 30px;
	border-radius: 5px;
}

.input > .inputLabel {
    display: block;
	float: left;
	margin-top: -19px;
	background: #ffffff;
	height: 2em;
	padding: 2px 5px 2px 5px;
	color: #6e7986;
	font-size: 1em;
	overflow: hidden;
}

.input > .inputBook {
    box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	font-size: 1.2em;
    font-weight: 700;
	padding: 0.5em;
}

.inputBook::placeholder,
#search::placeholder {
    color: #b6c4d4;
}

.readingStatus {
    display: flex;
    justify-content: flex-start;
    margin: 1em auto;
}

.readingStatus label,
.readingStatus input {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    padding: 0;
    cursor: pointer;
    margin: 1em;
    background-color: #b6c4d4;
    color:#ffffff;
    font-size: 1em;
    font-weight: 700;
}

.readingStatus input[type="radio"] {
    display: none;
}

.readingStatus label:hover {
    background: #8e9aa7;
}

.readingStatus input[type="radio"]:checked + label {
    background: #1f4690;
    color: #ffffff;
}

input[type="submit"] {
    border: none;
	padding: 8px 15px 8px 15px;
	background: #1f4690;
	color: #ffffff;
	box-shadow: 1px 1px 4px #DADADA;
	border-radius: 10px;
    width: 100%;
    height: 4em;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
}

#searchBook {
    margin: 1.5em auto;
    display: flex;
}

#search {
    box-sizing: border-box;
	width: 70%;
	display: block;
    border:1px solid #6e7986;
	font-size: 1.2em;
    font-weight: 700;
    border-radius: 5px;
    margin-right:  0.5em;
    padding: 1em;
}

#searchSubmit {
    width: 30%;
}

.bookShelfOnProgress,
.bookShelfCompleted {
    margin: 1.5em auto;
    padding: 1em;
}

.bookItem {
    margin: 1em auto;
    padding: 1em;
    border: 1px solid #6e7986;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #DADADA;
}

.bookItem > h3,
.bookItem > p {
    margin: 0.5rem;
}

.action {
    display: flex;
    justify-content: flex-end;
}

.bookItem > .action > button {
    margin: 1rem 0.2rem;
	padding: 0.5rem;
	border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
}

.completed {
    background-color: transparent;
    border: 1px solid #518750;
    color: #518750;
}

.completed:hover {
    background-color: #518750;
    color: #ffffff
}

.onprogress {
    background-color: transparent;
    border: 1px solid #e8aa42;
    color: #e8aa42;
}

.onprogress:hover {
    background-color: #e8aa42;
    color: #ffffff
}

.red {
    background-color: transparent;
    border: 1px solid #ce362e;
    color: #ce362e;
}

.red:hover {
    background-color: #ce362e;
    color: #ffffff
}

#snackbar {
    visibility: hidden;
    background-color:#e8aa42;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 1em;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    z-index: 1;  
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
}

#overlay.show {
    visibility: visible;
    animation: fadein 0.5s;
}

#confirm-box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50ch;
    transform: translate(-50%, -50%);
    padding: 1em;
    border-radius: 5px;
    background-color: #ffffff;
    color: #1f4690;
}

#confirm-box > .close {
    cursor: pointer;
    text-align: right;
}

.confirm-text {
    margin: 2em;
    display: grid;
    gap: 1em;
}

.confirm-button {
    margin-top: 2em;
    display: flex;
    justify-content: flex-end;

}

.confirm-button > button {
	padding: 0.8rem 1.5rem;
	color: #ffffff;
	border-radius: 10px;
    height: 4em;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    margin: auto 0.3rem;
}

.confirm-button > .yes {
    border: none;
    background-color: #1f4690;
}

.confirm-button > .no {
    background-color: transparent;
    border: 1px solid #1f4690;
    color:#1f4690
}

.hide {
    display: none;
}

footer {
    background-color: #1f4690;
    color:#ffffff;
    text-align: center;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to  {bottom: 0; opacity: 0;}
}